{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    {% comment %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class='btn btn-primary' type="submit">Checkout</button>
                    </form>
                    {% endcomment %}

                    <!--Card content-->
                    <form method="POST" class="card-body">
                        {% csrf_token %}
                        <!--address-->
                        <div class="md-form mb-5">
                            <label for="address" class="">Address</label>
                            <br>
                            <br>
                            {% comment %}<input type="text" id="address" class="form-control"
                                                placeholder="1234 Main St"> {% endcomment %}
                            {{ form.street_address }}
                        </div>

                        <!--address-2-->
                        <div class="md-form mb-5">
                            <label for="address-2" class="">Address 2 (optional)</label>
                            <br>
                            <br>
                            {% comment %}<input type="text" id="address-2" class="form-control"
                                                placeholder="Apartment or suite">{% endcomment %}
                            {{ form.apartment_address }}
                        </div>

                        <!--Grid row-->
                        <div class="row">

                            <!--                Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">

                                <label for="country">Country</label>
                                {% comment %}<select class="custom-select d-block w-100" id="country" required>
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>{% endcomment %}
                                {{ form.country }}
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>

                            </div>


                            <!--                <div class="col-lg-4 col-md-12 mb-4">-->

                            <!--                  <label for="region">Region</label>-->
                            <!--                  {% comment %}<select class="custom-select d-block w-100" id="region" required>-->
                            <!--                    <option value="">Choose...</option>-->
                            <!--                    <option>Tashkent</option>-->
                            <!--                  </select>{% endcomment %}-->
                            <!--                  {{ form.region }}-->
                            <!--                  <div class="invalid-feedback">-->
                            <!--                    Please select a valid region.-->
                            <!--                  </div>-->

                            <!--                </div>-->
                            <!--Grid column-->


                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <label for="zip">Zip</label>
                                {% comment %}
                                <input type="text" class="form-control" id="zip" placeholder="" required>
                                {% endcomment %}
                                {{ form.zip }}
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="custom-control custom-checkbox">
                            <input {% if form.same_shipping_address.value %}checked{% endif %} type="checkbox"
                                   class="custom-control-input" name="same_billing_address" id="same-address">
                            <label class="custom-control-label" for="same-address">Shipping address is the same as my
                                billing address</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input {% if form.save_info.value %}checked{% endif %} type="checkbox"
                                   class="custom-control-input" name="save-info" id="save-info">
                            <label class="custom-control-label" for="save-info">Save this information for next
                                time</label>
                            <br>
                            <br>

                        </div>
                        <!--              <div class="col-md-4 mb-4">-->
                        <div class="container p-5 mx-auto bg-white rounded">
                            <p class="mb-5">1. Make a payment to one of the following card numbers:</p>
                            <div class="bg-[#F9F9F8] p-3 rounded-lg mb-5">
                                <div class="border-b-2 border-gray-300 pb-5 flex justify-between w-full">
                                    <img src="/static/img/humo.jpg" width="80" height="50" alt="">
                                    <!--                {% for order_item in object.items.all %}-->
                                    <span class="font-medium text-xl">$ {{ total }}</span>
                                    <!--                {% endfor %}-->
                                </div>
                                <div>
                                    <h3 class="font-medium text-xl">9860 1901 1205 5255</h3>
                                    <p>Abdullajon Odilov (Making donat)</p>
                                </div>
                            </div>
                            <div class="bg-[#F9F9F8] p-3 rounded-lg">
                                <div class="border-b-2 border-gray-300 pb-5 flex justify-between w-full">
                                    <img class="max-w-none" src="/static/img/uzcard.jpg" width="80" height="60" alt="">
                                    <span class="font-medium text-xl">497,000so'm</span>
                                </div>
                                <div>
                                    <h3 class="font-medium text-xl">8600 3129 0563 9197</h3>
                                    <p>Abdullajon Odilov  (Making donat) </p>
                                </div>
                            </div>
                            <div class="bg-[#F9F9F8] p-3 rounded-lg">
                                <div class="border-b-2 border-gray-300 pb-5 flex justify-between w-full">
                                    <img class="max-w-none" src="/static/img/uzcard.jpg" width="80" height="60" alt="">
                                    <span class="font-medium text-xl">497,000so'm</span>
                                </div>
                                <div>
                                    <h3 class="font-medium text-xl">8600 3129 4613 3424</h3>
                                    <p>Abdullajon Odilov  (Making donat) </p>
                                </div>
                            </div>
                            <p class="my-5">2. Save the image confirming your successful payment (screenshot).</p>

                            <p class="mb-6">3. Upload a picture of your payment</p>
                            {{ form.image }}
                            <!--                  <button class="w-full p-5 bg-gray-white outline-dashed outline-gray-200 font-bold hover:bg-green-100 mt-5 rounded-lg text-xl">Click here to upload a picture of Check</button>-->
                            <!--            <button class="w-full p-5 bg-gray-600 text-blue font-bold hover:bg-green-600 mt-5 rounded-lg text-xl">Submit</button>-->
                        </div>

                        <!--              {% comment %}</div>-->
                        <!--              <div class="d-block my-3">-->
                        <!--                <div class="custom-control custom-radio">-->
                        <!--                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" checked required>-->
                        <!--                  <label class="custom-control-label" for="paypal">PayPal</label>-->
                        <!--                </div>{% endcomment %}-->


                        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>

                    </form>

                </div>
                <!--/.Card-->

            </div>


        </div>
    </div>
</main>

{% endblock content %}
