<footer class="page-footer text-center font-small mt-4 wow fadeIn">


    <div><hr class="my-4">
    <h3>Social medias</h3>


    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/abdullajon.odilov.3/" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
      <a href="https://www.instagram.com/odilov_abdullajon_/" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>

      <a href="https://www.linkedin.com/in/abdullajon-odilov/" target="_blank">
        <i class="fab fa-linkedin mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=MCj5BOIHUuo&t=4s" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://github.com/AbdullajonOdilov/" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>
      <hr class="my-4">



    </div>
      <div>
        <h3>Contacts</h3>
        <p>+998900014828</p>
      </div>


      </div>
    </div>
    <!-- Social icons -->


  </footer>